/****** GLOBAL STYLES ******/
body {
    background-image: url("../images/main-background.jpg") !important;
    background-position: top center !important;
    background-repeat: repeat-y !important;
    background-color: #000000 !important;
    color: #ffffff;
}

a, 
a:focus,
a:active,
a:hover {
    color: inherit;
}

hr {
    border-top: 1px solid #474747 !important;
}

/****** MISC STYLES ******/
.no-scroll {
    overflow: hidden;    
}

.padding {
    padding: 0 10%;
}

.tiny {
    font-size: 12px;
    line-height: 20px;
}

.timer-active {
    color: #a94442 !important;
}

.timer-done {
    color: #3c763d !important;
}

.new {
    color: #3c763d ;
    font-weight: bold;
}

/****** BBCODE STYLES ******/
.bb_image {
    max-width: 100%;
}

/****** LOGIN STYLES ******/
.login-logo {
    padding-top: 150px;
    padding-bottom:50px;
    text-align: center;
}

.login-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/****** USER STATUS STYLES ******/
.user-status-0 .side-bar {
    display: none;
}

.user-status-0 .game-container {
    max-width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.user-status-0 .logo-container {
    text-align: center !important;
    width: 100%;
}

.user-status-0 .sub-header,
.user-status-0 .header .col-md-2,
.user-status-0 .header .col-md-3 {
    display: none;
}

.user-level-0:before {
    content: "[BANNED]";
}
.user-level-0,
.user-level-0:hover {
    color: #777;
}

.user-level-2,
.user-level-2:hover {
    color: #ff0;
    font-weight: bold;
}

/****** HEADER STYLES ******/
.header {
    background-color: #131313;
    border-bottom: 1px solid #272727;
    line-height: 40px;
    margin-bottom: 10px;
}

.header .logo-container {
    line-height: 80px;
}

/****** SIDEBAR STYLES ******/
.side-bar {
    width: 220px;
    float: left;
}

.side-bar .label {
    float: right;
}

.side-bar .list-group {
    border: 1px solid #474747;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.side-bar .list-group .list-group-item {
    position: relative;
    padding: 0px 5px;
    line-height: 22px;
    background-color: #111 !important;
    background-color: #111 !important;
    font-size: 12px;
}

.side-bar .list-group .list-group-item:hover {
    background-color: #222 !important;
}

.side-bar .list-group .list-group-item small {
    position: relative;
    font-size: 11px;
    z-index: 200;
}

.side-bar .list-group .progress {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    width: 100px;
    height: 16px;
    z-index: 100;
}


/****** GAME CONTAINER STYLES ******/
.game-container {
    width: calc(100% - 230px);
    float: right;
}

/****** CRIME HOLDER ******/
.crime-holder {
    border:1px solid #555;
    background: #010101;
    margin-bottom:10px;
}

.crime-holder p {
    padding:10px;
    margin:0px;
    text-align: right;
}

.crime-holder .cooldown {
    color: #777;
    padding-right: 20px;
}

.crime-holder .action {
    float: left;
}

.crime-holder .commit {
    background-color: #222;
    border: 1px solid #555;
    padding: 5px 6px;
    border-radius: 3px;
}

.crime-holder .crime-perc {
    width:100%;
    height:2px;
    background-color:#900;
}

.crime-holder .crime-perc .perc {
    height:2px;
    background-color:#090;
    width: 0px;
}

.crime-holder .crime-header {
    background-color: #272727;
    border-bottom: 1px solid #474747;
    padding: 0px 5px;
}

/****** BOOTSTRAP OVERRIDES ******/
.alert {
    border: 1px solid;
}

.well {
    background-color: #151515;
    border: 1px solid #474747;
    text-align: left;
}

.well h3 {
    margin-top: 0px;
}

/*** Panel ***/
.panel{
    background-color: transparent;
    border: none;
}

.panel-heading{
    position: relative;
    text-transform: capitalize;
    color: #fff !important;
    border-bottom: none;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.6) !important;
    padding: 0px 5px;
    text-align: center;
    line-height: 34px;
}

.panel-body {
    background: #090909;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #373737; 
    border-top: none;
}

/*** Forms ***/
.form-control {
    background-color: rgba(0, 0, 0, 0.67);
    border: 1px solid rgba(255, 255, 255, 0.14);
}

.form-control:focus {
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: none;
}

.form-control-inline {
    display: inline-block;
    width: 200px;
}

.form-group .form-control {
    color: #aaa;
}

/*** Drop Down Menu ***/
.dropdown-menu {
    background-color: #272727;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #474747;
    color: #b7b7b7;
}

.dropdown-menu>li>a {
    color: #979797;
}
.dropdown-menu .divider {
    background-color: #979797;
}

/*** Tables ***/
table tr td, table tr th {
    text-align: left;
}

.table-borderless tr, .table-borderless tr td, .table-borderless tr th {
    border: none !important;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
    border-color: #272727 !important;
}

.table-striped>thead>tr:nth-child(odd)>td, .table-striped>thead>tr:nth-child(odd)>th {
    background-color: #171717;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #272727;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #373737;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 2px 5px;
}

/*** Images ***/
.img-thumbnail {
    background-color: transparent;
    border-color: #555;
}

/****** Progress Bars ******/
.progress {
    background-color: #050505;
    border: 1px solid #000;
}

.progress-bar-success {
    background-color: #040;
}

/****** Navs ******/
.nav-pills>li>a {
    padding: 5px;
    margin-bottom: 10px;
}

.nav-pills>li>a:hover {
    background-color: #474747;
}

.nav-tabs {
    border-bottom: 1px solid #474747 !important;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.nav-tabs li a {
    border-bottom-color: transparent !important;
}

.nav-tabs li a:hover {
    background-color: #474747;
    border-radius: 5px;
    border-color: transparent;
}

/****** Lists ******/
.list-group, .list-group .list-group-item {
    border-color: #474747;
    color: #fff;
}

.list-group .list-group-item:nth-child(odd) {
    background-color: #171717;
}    

.list-group .list-group-item:nth-child(even) {
    background-color: #252525;
}

.list-group .list-group-item .badge {
    background-color: transparent;
}

/****** Pagnation ******/
.pagination li a {
    background-color: #252524;
    color: #fff;
    border-color: #474747;
}

.pagination li:hover a {
    background-color: inherit !important;
    color: inherit !important;
    border-color: #474747;
}

.pagination li.active a {
    background-color: #676767 !important;
    color: #fff;
    border-color: #ccc;
}

.pagination li:nth-child(odd) a {
    background-color: #161616;
}

/****** Buttons ******/
.btn {
    color:#fff;
    position: relative;
    border: none;
    background-color: transparent !important;
}

.btn:hover{
    text-decoration: underline;
    background-color: inherit;
}

/****** Colors ******/
.btn-default,
.btn.btn-default:hover,
.panel-default > .panel-heading {
    background: rgb(48,48,48);
    background: linear-gradient(180deg, rgba(86,86,86,1) 0%, rgba(48,48,48,1) 5%, rgba(48,48,48,1) 35%, rgba(36,36,36,1) 50%);
    border: #2c2c2c 1px solid;
    color: #fff;
}

.text-success {
    color: #00c300;
}

.btn-success,
.btn.btn-success:hover,
.panel-success > .panel-heading {
    background: rgb(00,75,00);
    background: linear-gradient(180deg, rgba(00,125,00,1) 0%, rgba(00,75,00,1) 5%, rgba(00,75,00,1) 35%, rgba(00,45,00,1) 50%);
    border: #0c560c 1px solid;
    color: #fff;
}

.text-danger {
    color: #c30000;
}

.btn-danger,
.btn.btn-danger:hover,
.panel-danger > .panel-heading {
    background: rgb(90,00,00);
    background: linear-gradient(180deg, rgba(150,00,00,1) 0%, rgba(90,00,00,1) 5%, rgba(90,00,00,1) 35%, rgba(60,00,00,1) 50%);
    border: #650c0c 1px solid;
    color: #fff;
}

.text-info {
    color: #00f3ff;
}

.btn-info,
.btn.btn-info:hover,
.panel-info > .panel-heading {
    background: rgb(00,90,90);
    background: linear-gradient(180deg, rgba(0,150,150,1) 0%, rgba(00,90,90,1) 5%, rgba(00,90,90,1) 35%, rgba(00,70,70,1) 50%);
    border: #0c6365 1px solid;
    color: #fff;
}

.text-warning {
    color: #ffd400;
}

.btn-warning,
.btn.btn-warning:hover,
.panel-warning > .panel-heading {
    background: rgb(90,75,00);
    background: linear-gradient(180deg, rgba(150,110,00,1) 0%, rgba(90,75,00,1) 5%, rgba(90,75,00,1) 35%, rgba(60,45,00,1) 50%);
    border: #65500c 1px solid;
    color: #fff;
}


/****** MOBILE STYLES ******/
@media (max-width: 767px) {
    html, body {
        height: 100%;
        font-size: 12px;
    }

    .side-bar {
        display: none;
    }

    .show-sidebar .side-bar {
        display: block;
        width: 100%;
    }

    .show-sidebar .game-container {
        display: none;
    }

    .login-logo {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
    }

    .mobile-menu {
        background-color: #272727;
        height: 100%;
        overflow: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: none;
        z-index: 1000;
    }

    .mobile-menu ul.nav {
        position: absolute;
        top: 0px;
        bottom: 30px;
        left: 0px;
        right: 0px;
        overflow: auto;
    }

    .mobile-menu .close-mobile-menu {
        position: absolute;
        text-align: center;
        bottom: 0px;
        left: 0px;
        right: 0px;
        line-height: 30px;
        color: #fff;
        z-index: 1100;
        background-color: #474747;
    }
    
    .mobile-menu li {
        float: left;
        text-align: center;
    }

    .mobile-menu li a {
        padding: 7px 15px;
        margin-bottom: 0px;
    }

    .mobile-menu .title {
        background-color: #171717;
        display: block;
        clear: both;
        font-weight: bold;
    }

    .padding {
        padding: 0 2%;
    }

    .game-container {
        width: 100%;
        padding: 0px;
    }

    .navbar-toggle {
        background-color: #272727;
        border: 1px solid #474747;
        margin-left: -5px;
        margin-right: 0px;
        float: left;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .header {
        line-height: 25px;
    }

    .header .logo-container {
        text-align: center !important;
    }
    .header .col-xs-6 {
        padding: 0px; 
    }
    .header .logo-container {
        line-height: 60px;
    }
    .logo-container img {
        height: 40px;
    }

    .crime-holder p {
        text-align: center;
    }
    .crime-holder .action {
        display: block;
        float: none;
    }
    .crime-holder .cooldown,
    .crime-holder .commit {
        width: 49%;
        float: none;
        display: inline-block !important;
        text-align: center;
        font-size: 12px;
        margin-top: 8px;
    }
    .crime-holder .commit:after {
        content: "";
        clear: both;
        display: block;
    }

}
