.button-fixed-width {
    display: inline-block;
    width: 100px;
}

.move-icon {
    font-size: 18px;
}

.move-icon .glyphicon {
    top: 6px;
}


@media (max-width: 767px) {
    .button-fixed-width {
        display: inline-block;
        width: 65px;
    }
}