html, body {
    padding
    margin: 0px;
    background-color: #f9f9f9;
}

.admin-container {
    position: relative;
}

.admin-sidenav {
    position: fixed;
    left: 15px;
    width: 250px;
}

.admin-page {
    position: absolute;
    left: 280px;
    right: 15px;
    top: 78px;
}

.page {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.navbar-brand {
    width: 235px;
}

.navbar-form{
    padding: 10px 15px 10px 30px;
}    

.sidebar-wrapper {
    top: 63px !important;
}

.navbar-default {
    background-color: #1d1d1d !important;
    border-color: #2b2b2b !important;
}

.admin-page>.nav>li.active>a {
    padding: 10px 15px;
    margin-top: 0px;
}

.admin-page>.nav>li>a {
    padding: 8px 15px;
    margin-top: 4px;
}
.page .form-control,
.btn {
    height: auto;
    padding: 5px 16px;
}

.page .form-control {
    padding: 5px 10px;
}

input[type="color"] {
    margin-top: 5px;
    height: 32px;
}

input[type="checkbox"] {
    margin: -1px 0 0;
    vertical-align: middle;
}

.list-group-item {
    padding: 8px 12px;
    border-radius: 0px !important;
}

.list-group:after {
    content: "";
    display: block;
    clear: both;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
} 

.error-well {
    padding-left: 300px;
}

pre {
    padding-left: 300px !important;}
}